.button {
    border-radius: 40px;
    background: var(--pink);

    color: black;
    font-size: 1rem;
    padding: 16px 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    text-transform: uppercase;
}