@import "tailwindcss";
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

#root {
    font-family: "Hanken Grotesk", serif;
}

:root {
    --soft-gray: #4B4B4B;
    --gray-lighttheme: #A4A4A4;
    --pink: #FFBFFB;
    --grotesk-font: "Source Serif 4",
}

a,
button {
    transition: opacity 150ms ease-in-out;
}

a:hover,
button:hover {
    opacity: 0.5;
    text-decoration: underline;
}